/* ***************************
      UNIVERSAL STYLING
*************************** */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px => 9/16= 0.5625 => 0.5625*100= 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px => 8/16= 0.5 => 0.5*100= 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px => 12/16= 0.75 => 0.75*100= 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
