.book {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 50%,
      $color-transparent 50%
    ),
    url(/Natours/img/nat-10.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: $shadow-1-dark;

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 65%,
        $color-transparent 65%
      ),
      url(/Natours/img/nat-10.jpg);
    background-size: cover;
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(/Natours/img/nat-10.jpg);
    background-size: cover;
  }

  &__form {
    width: 50%;
    padding: 6rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
