.story {
  width: 75%;
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: $shadow-2;
  font-size: $default-font-size;
  transform: skewX(-12deg);
  background-color: rgba($color-white, 0.6);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    position: relative;
    transform: translateX(-3rem) skewX(12deg);
    overflow: hidden;
    border-radius: 50%;

    @supports ((-webkit-clip-path: polygon(0 0)) or (clip-path: polygon(0 0))) {
      -webkit-clip-path: circle(50% at 50% 50%);
      clip-path: circle(50% at 50% 50%);
      -webkit-shape-outside: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.5s;
    backface-visibility: hidden;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    text-transform: uppercase;
    color: $color-white;
    font-size: 1.7rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    opacity: 0;
    backface-visibility: hidden;
    transition: all 0.5s;
  }

  &:hover &__caption {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  &:hover &__img {
    filter: blur(3px) brightness(80%);
    transform: translateX(-4rem) scale(1);
  }
}
