* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #ccc;
  padding: 10px;
  height: 1000px;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: space-evenly;
}

.item {
  background-color: #f1425d;
  padding: 30px;
  margin: 30px;
  color: #fff;
  font-size: 40px;
}

.item-2 {
  height: 200px;
  flex: 0 1 300px;
  /* flex-basis: 300px;
  flex-shrink: 1; */
}

.item-3 {
  height: 200px;
  flex: 1;
}

.item-4 {
  align-self: flex-end;
  order: -1;
}
