/*  #ff3368; #ecfdff; */
h1 {
  color: green;
}

.para {
  color: grey;
}

#btn {
  color: green;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border: 1px solid green;
  text-decoration: none;
}

#btn:hover {
  background-color: green;
  color: #fff;
}

/* a:hover {
  background-color: black;
  color: #fff;
} */
