* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #ddd;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  /* grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 1fr); */
  grid-gap: 30px;
  grid-auto-rows: 80px;
  grid-auto-flow: row dense;

  /* Aligning the grid items on grid areas*/
  /* align-items: center;
  justify-items: center; */

  /* Aligning the grid tracks to grid containers */
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(2, 200px);
  height: 1000px;

  justify-content: center;
  align-content: center;
}

.item {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}

.item--1 {
}

.item--2 {
}

.item--3 {
}

.item--4 {
  background-color: crimson;
  grid-row: 2 / span 3;

  /* Aligning the grid items to grid areas */
  /* align-self: flex-end;
  justify-self: end; */
}

.item--5 {
}

.item--6 {
  background-color: lightcoral;
  grid-row: 2 / span 2;
}

.item--7 {
  background-color: palevioletred;
  grid-column: 1 / -1;
}

.item--8 {
}
