* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 50px;
  font-size: 30px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  background-color: #eee;
  width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: 100px 200px 400px 100px;
  grid-template-columns: repeat(3, 1fr) 200px;
  grid-gap: 30px;
}

.item {
  padding: 30px;
  background-color: orangered;
  color: #fff;
}

/* SPANNING USING THE GRID LINES NUMBERS */

.header {
  grid-column: 1/ -1;
}

.sidebar {
  grid-row: 2 / span 2;
  grid-column: 4 / 5;
}

.main-content {
  grid-column: 1 / span 3;
}

.footer {
  grid-column: 1 / -1;
}
