* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #ddd;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-gap: 30px;

  /* Using Auto-Fit and Auto-Fill */
  grid-template-rows: repeat(2, minmax(150px, min-content));
  grid-template-columns: repeat(Auto-Fill, 100px);
}

.item {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}

.item--1 {
  background-color: orangered;
}

.item--2 {
  background-color: yellowgreen;
}

.item--3 {
  background-color: blueviolet;
}

.item--4 {
  background-color: palevioletred;
}

.item--5 {
  background-color: royalblue;
}

.item--6 {
  background-color: goldenrod;
}

.item--7 {
  background-color: crimson;
}

.item--8 {
  background-color: darkslategray;
}
