* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  padding: 50px;
  font-size: 30px;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  background-color: #eee;
  max-width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-rows: [header-start] 100px [header-end box-start] 200px [box-end main-start] 400px [main-end footer-start] 100px [footer-end];
  grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-end];
  grid-gap: 30px;

  grid-template-areas:
    "head head head ."
    "box1 box2 box3 sidebar"
    "main main main sidebar"
    "footer footer footer footer";
}

.item {
  padding: 30px;
  background-color: orangered;
  color: #fff;
}

/* SPANNING USING THE GRID LINES NAMING */

.header {
  grid-area: head;
}

.small-box-1 {
  grid-area: box1;
}

.small-box-2 {
  grid-area: box2;
}

.small-box-3 {
  grid-area: box3;
}

.sidebar {
  grid-area: sidebar;
}

.main-content {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
