* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #ddd;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;

  grid-auto-rows: 80px;
  grid-auto-flow: column;
  grid-auto-columns: 90px;
}

.item {
  padding: 20px;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
  background-color: orangered;
}

.item--1 {
}

.item--2 {
}

.item--3 {
}

.item--4 {
}

.item--5 {
}

.item--6 {
}

.item--7 {
}

.item--8 {
}
