* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #ddd;
  width: 1000px;
  margin: 30px auto;

  display: grid;
  width: 90%;
  /* grid-template-rows: repeat(2, 150px); */
  /* grid-template-columns: repeat(4, 150px); */

  /* Using Min-Content and Max-Content */

  /* grid-template-rows: repeat(2, min-content); */
  /* grid-template-rows: 150px min-content; */
  /* grid-template-columns: max-content 1fr 1fr max-content; */
  /* grid-template-columns: max-content 1fr 1fr min-content; */
  /* grid-template-columns: min-content 1fr 1fr min-content; */

  /* Using Min-Max Function */

  grid-template-rows: repeat(2, minmax(150px, min-content));
  /* grid-template-columns: minmax(200px, 300px) repeat(3, 1fr); */
  /* grid-template-columns: minmax(200px, 50%) repeat(3, 1fr); */
  grid-template-columns: minmax(200px, 1fr) repeat(3, 1fr);
}

.item {
  padding: 10px;
  color: #fff;
  font-family: sans-serif;
  font-size: 30px;
}

.item--1 {
  background-color: orangered;
}

.item--2 {
  background-color: yellowgreen;
}

.item--3 {
  background-color: blueviolet;
}

.item--4 {
  background-color: palevioletred;
}

.item--5 {
  background-color: royalblue;
}

.item--6 {
  background-color: goldenrod;
}

.item--7 {
  background-color: crimson;
}

.item--8 {
  background-color: darkslategray;
}

/* Test */