* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: #eee;
  width: 1000px;
  /* height: 500px; */
  margin: 30px auto;

  display: grid;

  /* ROWS */
  grid-template-rows: repeat(2, 150px);
  /* grid-template-rows: repeat(2, 1fr); */

  /* COLUMNS */
  /* grid-template-columns: repeat(2, 150px) 300px; */
  /* grid-template-columns: repeat(2, 150px) 1fr; */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-columns: 1fr 2fr 1fr; */
  /* grid-template-columns: 50% 1fr 1fr; */

  /* ROWS GAPS */
  /* grid-row-gap: 30px; */

  /* COLUMNS GAPS */
  /* grid-column-gap: 50px; */

  /* OVERALL GAPS */
  /* grid-gap: 40px; */
  grid-gap: 80px;
}

.item {
  padding: 30px;
  color: #fff;
  font-size: 40px;
}

.item--1 {
  background-color: orangered;
  z-index: 10;

  /* ORDERING WAY-1 */
  /* grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3; */

  /* ORDERING WAY-2 */
  /* grid-row: 2/ 3;
  grid-column: 2/ 3; */

  /* ORDERING WAY-3 */
  /* grid-area: 2/2/3/3; */

  /* SPANING ITEMS */
  grid-row: 2/ 3;
  grid-column: 2/ 3;
}

.item--2 {
  background-color: yellowgreen;

  /* SPANING ITEMS WAY-1 */
  /* grid-column: 2 / span 2; */

  /* SPANING ITEMS WAY-2 */
  grid-column: 2/-1;
}

.item--3 {
  background-color: blueviolet;
  grid-row: 2/3;
  grid-column: 1/3;
}

.item--4 {
  background-color: palevioletred;
  grid-row: 2/3;
  grid-column: 3/4;
  z-index: 10;
}

.item--5 {
  background-color: royalblue;
  grid-row: 1/3;
  grid-column: 3/4;

  /* ORDERING WAY-3 */
  /* grid-area: 1/3/2/4; */
}

.item--6 {
  background-color: goldenrod;
  grid-row: 1/2;
  grid-column: 2/3;
  /* grid-area: 1/2/2/3; */
}
