.row {
  max-width: $grid-width;
  margin: 0 auto;

  &:not(:last-child) {
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-width-small;
    }
  }

  @include respond(tab-port) {
    max-width: $grid-width-small;
    padding: 0 3rem;
  }

  [class^="col-"] {
    float: left;

    &:not(:last-child) {
      margin-right: $gutter-horizontal-width;

      @include respond(tab-port) {
        margin-right: 0;
        margin-bottom: $gutter-vertical-width-small;
      }
    }

    @include respond(tab-port) {
      float: none;
      width: 100% !important;
      margin-right: 0;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal-width}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - 2 * #{$gutter-horizontal-width}) / 3);
  }

  .col-1-of-4 {
    width: calc((100% - 3 * #{$gutter-horizontal-width}) / 4);
  }
  @include clearfix;
}
