.navigation {
  position: relative;

  &__checkbox {
    display: none;
  }

  &__button {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    text-align: center;
    background-color: $color-white;
    cursor: pointer;
    z-index: 2000;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    z-index: 1000;
    backface-visibility: hidden;
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      font-size: 3rem;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none;
      color: $color-white;
      display: inline-block;
      padding: 1rem 2rem;
      background-image: linear-gradient(
        120deg,
        $color-transparent 0%,
        $color-transparent 50%,
        $color-white 50%
      );
      background-size: 230%;
      transition: all 0.4s;

      & span {
        margin-right: 1.6rem;
        display: inline-block;
      }
    }

    &:hover,
    &:active {
      color: $color-primary;
      background-position: 100%;
      transform: translateX(1rem);
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    opacity: 1;
    left: 0%;
    width: 100%;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::after,
    &::before {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
    }

    &::after,
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      left: 0;
      transition: all 0.2s;
    }

    &::before {
      top: -0.8rem;
      transform-origin: center;
    }

    &::after {
      top: 0.8rem;
    }
  }

  &__button:hover > .navigation__icon::before {
    top: -1rem;
  }

  &__button:hover > .navigation__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: $color-transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    transform: rotate(135deg);
    top: 0rem;
  }

  &__checkbox:checked + &__button &__icon::after {
    transform: rotate(-135deg);
    top: 0rem;
  }
}
