/* ***************************
      MIXINS
*************************** */

@mixin elementCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

// MEDIA QUERY MANAGER

/*
  0 - 600px: Phones
  600 - 900px: Tablets Portrait
  900 - 1200px: Tablets LandScapes
  1200 - 1800px: Normal Desktop style
  1800px + : Big Screens

ORDER > Base + Typography > General Layout + Grid > Page Layout > Components 

  $breakpoint argument choices:-
  - Phone
  - Tab-Port
  - Tab-Land
  - big-desktop
*/

@mixin respond($breakpoint) {
  @if $breakpoint==phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  }

  @if $breakpoint==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  }

  @if $breakpoint==tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  }

  @if $breakpoint==big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
