/* ***************************
      VARIABLES
*************************** */

// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;
$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;
$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;
$color-transparent: rgba(0, 0, 0, 0);
$color-gray-dark: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;
$color-white: #fff;
$color-black: #000;

// FONTS SIZES
$default-font-size: 1.6rem;

// WIDTHS
$grid-width: 114rem;
$grid-width-small: 50rem;
$gutter-horizontal-width: 6rem;
$gutter-vertical-width: 8rem;
$gutter-vertical-width-small: 6rem;

// SHADOWS
$shadow-1: 0 1.5rem 4rem rgba($color-black, 0.15);
$shadow-1-dark: 0 1.5rem 4rem rgba($color-black, 0.2);
$shadow-2: 0 3rem 6rem rgba($color-black, 0.1);
