* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: normal;
}

.container {
  width: 920px;
  height: 100vh;
  margin: 0 auto;
  background-color: #eee;
  padding: 50px 0;
}

.whatsappBox {
  width: 350px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px 3px 6px #878484c7;
  background-image: url("./Images/whatsapp.svg");
}

.whatsHeader {
  background-color: #008069;
  border-radius: 10px 10px 0 0;
  padding: 10px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.imgLogo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.cross {
  margin-left: auto;
  color: lightgray;
  margin-right: 10px;
  cursor: pointer;
}

.title {
  color: #fff;
}

.title > p:not(:last-child) {
  margin-bottom: 5px;
}

.title > p:last-child {
  font-size: 13px;
}

.whatsInner {
  min-height: 140px;
}

.innerText {
  width: 75%;
  margin: 15px;
  background: white;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  box-shadow: 1px 3px 6px #878484c7;
  position: relative;
}

.innerText::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: -8px;
  width: 0;
  height: 0;
  border-bottom: solid 10px transparent;
  border-right: solid 8px white;
}

.innerText > p {
  margin-bottom: 10px;
}

.innerText > p:first-child {
  font-weight: 600;
  color: #b5b5b5;
}

.innerText > p:last-child {
  font-size: 13px;
}

/* Foot Button */

.whatsFooter {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 20px 25px 10px 25px;
}
.footBtn {
  display: block;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #2cb23f;
  color: #fff;
  border-radius: 100px;
  font-size: 14px;
}

/* crossIcon */

.crossIcon {
  width: 25px;
  height: 25px;
}
