/** ------------------------------------- -->
/**  BACKGROUND PROPERTY IN CSS  
/** ---------------------------------------- -->

/*? background-color: Sets the background color of an element.
Example: background-color: #FF5733; */

/*? background-image: Specifies an image to be used as the background. */
/* Example: background-image: url('image.jpg'); */

/*? background-repeat: Determines how the background image repeats. */
/* Values: repeat, repeat-x, repeat-y, no-repeat.
Example: background-repeat: repeat-x; */

/*? background-position: Sets the starting position of the background image. */
/* Values: Coordinates like top left, center center, bottom right, percentages, or length values. */
/* Example: background-position: center center; */

/*? background-size: Defines the size of the background image. */
/* Values: auto, cover, contain, percentages, or length values. */
/* Example: background-size: cover; */

/*? background-attachment: Specifies if the background image scrolls with the content.; */
/* Values: scroll, fixed, local.
Example: background-attachment: fixed; */

/** ------------------------------------- -->
/**  BACKGROUND PROPERTY IN CSS3  
/** ---------------------------------------- -->

/*? background-blend-mode: Applies blending modes to the background image and color. */
/* Values: Various blending mode keywords like multiply, screen, overlay.
Example: background-blend-mode: multiply; */

body {
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 94%);
  background-image: url("../images/css.png"), url("../images/hero.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-position: left bottom; */
  /* background-blend-mode: overlay; */
}

/** ------------------------------------- -->
/**  INTERVIEW QUESTIONS  
/** ---------------------------------------- -->

/*? 1: How can you set a background image for an element using CSS? */
/* You can set a background image using the background-image property, like this: */
/* background-image: url('image.jpg'); */

/*? 2: How can you make a background image cover the entire element without distortion? */
/* You can use background-size: cover; to make the background image cover the entire element while maintaining its aspect ratio. This ensures that the image fills the container without distortion. */

/*? 3: How can you apply multiple background images to a single element? */
/* background-image property and using a comma to separate them. For example: */
/* css background-image: url('image1.jpg'), url('image2.jpg'); */

/*? 4: What is the property that is used for controlling image-scroll? */
